:host {
    max-width: 1280px;
    position: relative;
    z-index: 1;
}

html, body{
  position: relative;
  z-index: -2;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
  width: 100%;
  margin: 0 auto;
}
