/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'variables' as vars;
@include mat.core();

html, body {
    margin: 0;
    height: 100%;
    color: #cecece;
    font-size: 14px !important;
}

// Apply the dark theme by default
@include mat.all-component-themes(theme.$dark-theme);
@include mat.all-component-typographies(theme.$custom-typography);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.all-component-colors(theme.$light-theme);
}

table {
  th {
    background-color: rgba(0,0,0,0.15) !important;
    color: vars.$primary-color;
  }
}

a {
  & {
    color: vars.$primary-color;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
  }
  &:hover {
    color: vars.$accent-color;
    text-shadow: 1px 1px 2px #000;
    text-decoration: underline;
  }
}
