.sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav {
  width: 200px;
  /*background: rgba(56,56,54,0.84);*/
}

mat-sidenav-content {
  position:relative;
  padding: 20px;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 100vw;
  }
}

.active {
  background: rgb(87, 87, 87);
}

